body {
    font-family: sans-serif;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: space-between;
}

.tennis-scoreboard {
    background-color: rgb(33, 105, 33);
    padding: 50px 0;
    width: 90%;
    margin: auto;
    flex: 1;
}

.player-names {
    font-size: 30px;
    padding-bottom: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

hr {
    margin-bottom: 10px;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 13px;
    font-weight: bold;
}

.previous-sets-section {
    flex: 2;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.player-sets {
    display: flex;
    flex-direction: row;
}

.button-section {
    flex: 2;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

form {
    margin: 0;
}

.button input {
    border: 1px solid black;
    font-size: 30px;
    padding: 12px 20px;
    cursor: pointer;
    background-color: #d6d4d4;
}

.button input:hover {
    opacity: 0.85;
}

.button input:active {
    opacity: 0.7;
}

.finished-match-info {
    font-size: 30px;
    padding-top: 30px;
}

.sets-section {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.sets {
    font-size: 50px;
    font-weight: bold;
    border: 1px solid black;
    padding: 0 3px;
    margin-right: 10px;
    background-color: rgb(166, 212, 72);
}

.points-section {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.point {
    font-size: 50px;
    font-weight: bold;
    border: 1px solid black;
    padding: 0 3px;
    background-color: rgb(242, 234, 234);
}

.winner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top: 30px;
}